---
import BaseLayout from "./BaseLayout.astro"
const {frontmatter: fm} = Astro.props
---
<BaseLayout pageTitle={fm.title}>
  <p><strong>Published On</strong> {fm.pubDate.slice(0,10)}</p>
  <p><strong>Description</strong> {fm.description}</p>
  <p><strong>Written by</strong> {fm.author}</p>
  <img src={fm.image.url} alt={fm.image.alt} srcset="">
  <slot />
  <style>
    img {
      background-color: black;
      width: 30rem;
      height: 20rem;
    }
  </style>
</BaseLayout>